In [35]:
#reading data
import pandas as pd

In [36]:
data=pd.read_csv("Downloads/StudentsPerformance.csv")

In [37]:
data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100

# Q1 Find how many female and male have participated in the test

In [38]:
#to find the number of male and female

In [39]:
data.groupby("gender").count()

,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
gender,,,,,,,
female,518,518,518,518,518,518,518
male,482,482,482,482,482,482,482

# Q2 What do you thnink about student's parental level of education?

In [40]:
data.groupby('parental level of education').count().gender

parental level of education
associate's degree    222
bachelor's degree     118
high school           196
master's degree        59
some college          226
some high school      179
Name: gender, dtype: int64

In [41]:
#here students parental level of education is classified with the numbers .here students with asoociate's degree is higher

# Who scores the most on average for math, reading and writing based on
● Gender
● Test preparation course

In [42]:
data.groupby("gender")["math score"].mean().sort_values(ascending=False).head(1)

gender
male    68.821577
Name: math score, dtype: float64

In [43]:
data.groupby("gender")["reading score"].mean().sort_values(ascending=False).head(1)

gender
female    72.590734
Name: reading score, dtype: float64

In [44]:
data.groupby("gender")["writing score"].mean().sort_values(ascending=False).head(1)

gender
female    72.467181
Name: writing score, dtype: float64

In [45]:
#On the basis of gender male average higher formath score and female average higher for the other two

In [46]:
data.groupby("test preparation course")["writing score"].mean().sort_values(ascending=False).head(1)

test preparation course
completed    74.684358
Name: writing score, dtype: float64

In [47]:
data.groupby("test preparation course")["reading score"].mean().sort_values(ascending=False).head(1)

test preparation course
completed    74.175978
Name: reading score, dtype: float64

In [48]:
data.groupby("test preparation course")["math score"].mean().sort_values(ascending=False).head(1)

test preparation course
completed    69.96648
Name: math score, dtype: float64

# 4. What do you think about the scoring variation for math, reading and writing
based on
● Gender
● Test preparation course

In [49]:
data.groupby("gender")["math score"].mean().std()

3.8502875604590487

In [50]:
data.groupby("gender")["reading score"].mean().std()

4.981631222221303

In [51]:
data.groupby("gender")["writing score"].mean().std()

6.378897513015946

In [52]:
#here standard deviation is less for math score.hence it has more consistency

In [53]:
data.groupby("test preparation course")["math score"].std()

test preparation course
completed    14.521847
none         15.705689
Name: math score, dtype: float64

In [54]:
data.groupby("test preparation course")["reading score"].std()

test preparation course
completed    13.537572
none         14.608896
Name: reading score, dtype: float64

In [55]:
data.groupby("test preparation course")["writing score"].std()

test preparation course
completed    13.236412
none         15.041667
Name: writing score, dtype: float64

In [56]:
#here standard deviation for completed is less for writing score

# 5. The management needs your help to give bonus points to the top 25% of
students based on their maths score, so how will you help the management
to achieve this.

In [57]:
data['math score']. nlargest(n=5)

515    100
516    100
517    100
996    100
997    100
Name: math score, dtype: int64

In [58]:
#here the top 5 position is considered